<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Pets</title>
</head>
<body>
  <div class="container">
    <h1>All the Pets</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
      {% for one_pet in pets: %}
        <tr>
          <td>{{one_pet['id']}}</td>
          <td>{{one_pet['name']}}</td>
          <td>{{one_pet['type']}}</td>
        </tr>
      {% endfor %}
    </table>
    <hr>
    <h2>Add a Pet</h2>
    <form action="/create_pet" method="POST">
      <p>Name: <input type="text" name='name'></p>
      <p>Type: <input type="text" name='type'></p>
      <input type="submit" class="btn btn-primary" value="Add">
    </form>
  </div>
</body>
</html>