<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">DojoReads</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if request.session.user %}
        <li class="nav-item ">
          <a class="nav-link text-light" href="/books">Books</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light" href="/books/add">Add Books and Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/users/logout">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>