<div class="container">
  <h1 class="text-center">Dojo Weather Forecast</h1>
  <button class="btn btn-primary" [routerLink]="['/burbank']">Burbank</button>
  <button class="btn btn-secondary" [routerLink]="['/seattle']">Seattle</button>
  <button class="btn btn-default" [routerLink]="['/chicago']">Chicago</button>
  <button class="btn btn-success" [routerLink]="['/dallas']">Dallas</button>
  <button class="btn btn-info" [routerLink]="['/washington']">Washington DC</button>
  <button class="btn btn-dark" [routerLink]="['/san-jose']">San Jose</button>
  <router-outlet></router-outlet>
</div>
