<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'log_reg_app/css/styles.css'%}">
  <title>Login and Registration</title>
</head>
<body>
  <div class="container">
    <h1>Success! Welcome, {{request.session.user_fn}}</h1>
    {% if messages %}
      <ul class="messages alert alert-success" style="list-style-type: none;">
        {% for message in messages %}
          <li {% if message.success %} class="{{ message.success }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <a href="/logout" class="btn btn-primary">Log out</a>
  </div>
</body>
</html>