* {
  margin: 0;
  padding: 0;
}

div.container {
  margin: 15px;
  padding: 20px;
  text-align: center;
  background-color: bisque;
}
  header h1 {
    display: inline-block;
  }

  header img {
    width: 150px;
    height: 100px;
    display: inline-block;
    vertical-align: bottom;
  }

  main {
    margin: auto;
    margin-top: 10px; 
    width: 900px;
  }

  main img {
    margin: 1px;
    width: 150px;
    height: 150px;
    border: 5px solid black;
  }