<!--The content below is only a placeholder and can be replaced.-->
<div class="container text-center">
  <h1>Restful Tasks API</h1>
  <h2>New Task</h2>
  <form class="text-left  w-25 mx-auto" (submit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" name="newTask.title" [(ngModel)]="newTask.title" placeholder="Title" >
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newTask.description" [(ngModel)]="newTask.description" placeholder="Description">
    </div>
    <div class="text-center">
      <button type='submit' class='btn btn-success'>Create</button>
    </div>
  </form>
  <hr>
  <button class='btn btn-primary' (click)="showAllTasks()">GET ALL TASKS</button>
  <div class="form-group w-25 mx-auto mt-3">
    <input type="text" #box (keyup.enter)="onEnter(box.value)"  class="form-control" placeholder="Enter Task Id">
  </div>

  <section class="mt-5" *ngIf="taskTitle" id="task">
      <p>Title: {{ taskTitle }}</p>
      <p>Description: {{ taskDesc }}</p>
    </section>
</div>

<router-outlet></router-outlet>
