div.container {
  text-align: center;
}

  table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
  }
    th {
      text-align: left;
      background-color: grey;
      color: white;
    }

    td {
      text-align: left;
    }

    td, th {
      border: 1px solid #ddd;
    }

    table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {background-color: #ddd;}

hr {
  width: 60%;
}