<!--The content below is only a placeholder and can be replaced.-->
<div class="container text-center">
  <h1>Rate My Cakes</h1>
  <!-- Modal Create New Cake -->
  <app-modal (myEvent)="getCakesFromService()"></app-modal>
  <main class="container mt-3" id="cake-board">
    <div class="row mt-3" *ngFor="let cake of cakes">
      <div class="col">
        <img class="all-cakes" src={{cake.img}} alt="cakes">
      </div>
      <div class="col">
      <!-- Modal Create Review -->
      <app-review [cakeId]="cake._id"></app-review>
      </div>
    </div>
  </main>
</div>
<router-outlet></router-outlet>
