* {
  font-size: 62.5%;
}
.container {
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 10rem;
  color: pink;
}

.task-container {
  margin: 20px auto;
  border: 1px solid #333;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.form {
  width: 100%;
}

.task-input {
  height: 40px;
  font-size: 2.2rem;
  font-style: italic;
  width: 100%;
}

.list-task {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

}

li > span {
  font-size: 2.2rem;
}

input.checkbox {
  margin: 10px 8px;
  vertical-align: top;
  border-radius: 40px;
  transform: scale(1.5);
}

.taskRow {
  text-align: left;
  width: 100%;
  padding: 5px;
  font-weight: 100;
}

.taskRow:hover > .close {
  display: inline-block;
}

.taskRow > .close {
  margin-left: 10px;
  display: none;
}


.completed {
  text-decoration: line-through;
}

.footer {
  height: 8vh;
  display: flex;
  flex-direction: row;  
  justify-content: center;
}

.footer > button {
  background-color: transparent;
  border: none;
  margin: 1rem;
  font-size: 1.2rem;
  height: 5vh;
  padding: 3px;
}

.footer > button:focus {
  outline: 1px solid #5f49f2;
}

.items-left {
  align-self: center;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
}

@media only screen and (max-width: 625px) {
  * {
    font-size: 50%;
  }

  .task-input {
    font-size: 1.5rem;
  }
}