<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Play</title>
  <style>
    * {
      margin:0;
      padding: 0
    }
    div.container {
      text-align: center;
    }
    div.container div.box {
      width: 300px;
      height: 300px;
      background-color:aquamarine;
      display: inline-block;
      margin: 20px;
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome!</h1>
    {% if times: %}
      {% for i in range(times): %}
        <div class="box" style="background-color:{{ color }}"></div>
      {% endfor %} 
    {% else: %}
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    {% endif %}
  </div>
</body>
</html>