<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Login and Registration</title>
</head>
<body>
  <div class="container">
    <header class="text-center">
      <h1>Login and Registration</h1>
    </header>
    <% if (messages.registration) { %>
      <ul>
        <% messages.registration.forEach(msg => { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <form class='registration' action="/registration" method="post">
      <h2 class="animated bounce">Register</h2>
      <div class="form-group">
        <label>First name:</label>
        <input type="text" class="form-control" name="firstName">
      </div>
      <div class="form-group">
        <label>Last name:</label>
        <input type="text" class="form-control" name='lastName'>
      </div>
   
      <button type="submit" class="btn btn-success">Register</button>
    </form>
    <form class="login" action='/login' method='post'>
      <h2>Login</h2>
      <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" name='email'>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name='password'>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
  <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script>
</body>
</html>