<!--The content below is only a placeholder and can be replaced.-->
<div class="container text-center">
  <h1>Restful Tasks API</h1>
  <h2>New Task</h2>
  <form class="text-left  w-25 mx-auto" (submit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" name="newTask.title" [(ngModel)]="newTask.title" placeholder="Title" >
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="newTask.description" [(ngModel)]="newTask.description" placeholder="Description">
    </div>
    <div class="text-center">
      <button type='submit' class='btn btn-success'>Create</button>
    </div>
  </form>
  <hr>
  <button class='btn btn-primary' (click)="showAllTasks()">GET ALL TASKS</button>
  <div class="form-group w-25 mx-auto mt-3">
    <input type="text" #box (keyup.enter)="onEnter(box.value)"  class="form-control" placeholder="Enter Task Id">
  </div>
  <div class="container" *ngIf="showTasks">
    <ng-container *ngFor="let task of tasks;">
      <div class="row mt-3">
        <div class="col-8">
          {{task.title}}
        </div>
        <div class="col-4 text-left">
          <button class="btn btn-info btn-sm" (click)="showTask(task)">Show</button>
          <button class="btn btn-warning btn-sm ml-2 edit-btn" (click)="editModal(basicModal, task)" data-id={{task._id}}>Edit</button>
          <button class="btn btn-danger btn-sm ml-2" (click)="deleteTask(task._id)">Delete</button>
        </div>
      </div>
    </ng-container>
  </div>
  <app-task class="mt-5" *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>

  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Edit Task</h4>
        </div>
        <form (submit)="updateTask($event)">
          <div class="modal-body" (submit)="updateTask($event)">
            <div class="md-form">
              <input mdbInput type="text" id="form1" class="form-control" [value]="modalTask.title" name="title">
              <label for="form1" class="modal-title">Title</label>
            </div>
            <div class="md-form">
              <input mdbInput type="text" id="form1" class="form-control" [value]="modalTask.description" name="desc">
              <label for="form1" class="modal-desc">Description</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="basicModal.hide()">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
